# Evaluation

In [17]:
# imports for code 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from tqdm import tqdm

In [18]:
# load the following csv files as dataframe 
url_test ='https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/data/test/test.csv'
url_train = 'https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/data/train/train.csv' 
url_detctedt_landmarks = 'https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/landmark_classifier/landmarks_csv_files/keep_v3_openimage.csv'
url_pred = 'https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/feature_extraction/results_csv/predicted_class_embedded_test.csv'
url_dist = 'https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/feature_extraction/results_csv/dist_embedded_test.csv' 
url_nn = 'https://raw.githubusercontent.com/matankleiner/Identify-Known-Sites-in-Photo-Album/master/feature_extraction/results_csv/nearest_neighbor_embedded_test.csv'

test_df = pd.read_csv(url_test) 
train_df = pd.read_csv(url_train)
detctedt_landmarks_df = pd.read_csv(url_detctedt_landmarks)
pred_df = pd.read_csv(url_pred)
dist_df = pd.read_csv(url_dist)
nn_df = pd.read_csv(url_nn)

In [19]:
def change_df(df): 
    """
    Changing the dataframe so it will be easier to work with. 
    Param: 
        df (pd.DataFrame): The dataframe to change 
    Return: 
        df (pd.DataFrame): The chnaged dataframe 
    """
    df = df.drop("Unnamed: 0", axis=1)
    df.insert(0, "id", test_df["id"], True) 
    return df 

pred_df = change_df(pred_df)
pred_df = pred_df.rename(columns={"0": "prediction"})
dist_df = change_df(dist_df)
nn_df = change_df(nn_df)

### Prediction

In [20]:
# check if any of the given prediction is correct
pred_series = test_df["landmarks"] == pred_df["prediction"]
print ("There are {} correct prediction.".format(len(pred_series[pred_series].index)))

There are 0 correct prediction.

In [48]:
type(pred_df["prediction"][5])

numpy.int64

text text text

In [21]:
# about nearest neighbor method 
nn_df

                      id        0        1        2        3        4
0       e324e0f3e6d9e504   335980   621323  1078891   723464  1146490
1       d9e17c5f3e0c47b3   114279   331989   743404   908994   303773
2       1a748a755ed67512    40077  1274320  1274318   525710   657826
3       537bf9bdfccdafea   383865   542957  1058800  1234610  1058878
4       13f4c974274ee08b  1058815  1577594   195691  1459158  1466610
...                  ...      ...      ...      ...      ...      ...
117222  e351c3e672c25fbd   378345  1481565   184639   184498   442828
117223  5426472625271a4d   433925   433923   433922   433924   881243
117224  7b6a585405978398  1328494   871628  1557725   167234  1106573
117225  d885235ba249cf5d  1259388  1259390  1259420   898605  1058781
117226  c7f657e8d0f7fafb  1236433    47837   769449    68483  1236104

[117227 rows x 6 columns]

In [22]:
# replacing 
col_to_replace0 = train_df.loc[nn_df["0"]]["landmark_id"]
nn_df['0'] = col_to_replace0.values
col_to_replace1 = train_df.loc[nn_df["1"]]["landmark_id"]
nn_df['1'] = col_to_replace1.values
col_to_replace2 = train_df.loc[nn_df["2"]]["landmark_id"]
nn_df['2'] = col_to_replace2.values
col_to_replace3 = train_df.loc[nn_df["3"]]["landmark_id"]
nn_df['3'] = col_to_replace3.values
col_to_replace4 = train_df.loc[nn_df["4"]]["landmark_id"]
nn_df['4'] = col_to_replace4.values

In [23]:
nn_df

                      id       0       1       2       3       4
0       e324e0f3e6d9e504   42422   79959  138982   93154  147263
1       d9e17c5f3e0c47b3   14968   41941   95885  117418   38746
2       1a748a755ed67512    5156  164193  164193   67109   84309
3       537bf9bdfccdafea   48328   69301  136675  158991  136675
4       13f4c974274ee08b  136675  202793   25369  187755  188686
...                  ...     ...     ...     ...     ...     ...
117222  e351c3e672c25fbd   47663  190441   23777   23777   56062
117223  5426472625271a4d   54785   54785   54785   54785  113750
117224  7b6a585405978398  171111  112512  200128   21500  142109
117225  d885235ba249cf5d  162403  162403  162403  115930  136675
117226  c7f657e8d0f7fafb  159334    6090   99323    8834  159247

[117227 rows x 6 columns]

In [54]:
first_neighbor_series = test_df["landmarks"] == str(nn_df["1"])
first_neighbor_series

0         False
1         False
2         False
3         False
4         False
          ...
117222    False
117223    False
117224    False
117225    False
117226    False
Name: landmarks, Length: 117227, dtype: bool

In [85]:
test_df.to_csv("test111.csv")

In [66]:
for i in range(test_df.shape[0]): 
    if isinstance(test_df["landmarks"][i], str):
        np.int64(test_df["landmarks"][i])
    if isinstance(test_df["landmarks"][i], list): 
       test_df["landmarks"][i] = np.int64(test_df["landmarks"][i][0])

ValueError: invalid literal for int() with base 10: '[114046]'